@using RateMatch.Mvc.Views.MatchReviews.Partials;
@model MatchReviewItemPartialViewModel
<div class="row" id="review-@Model.Item.Id">
    <div class="col-md-9">
        <blockquote class="blockquote">@Model.Item.ReviewContent</blockquote>
        <figcaption class="blockquote-footer">
            @Model.Item.User.UserName <cite title="@Model.Item.Match.MatchName">@Model.Item.Match.MatchName</cite>

        </figcaption>
        @if (Model.IsCurrentUserItem)
        {
            <div>
                <a asp-route-id="@Model.Item.Id" asp-action="Edit" asp-controller="MatchReviews">Edit</a>
                <a href="#">Delete</a>
            </div>
        }

    </div>
    <div class="col-md-3">
        @for (int i = 1; i <= Model.Item.ReviewRating; i++)
        {
            <i class="fa-solid fa-star"></i>
        }
    </div>
</div>