@using RateMatch.Mvc.Models.SportsMatches;
@using RateMatch.Mvc.Views.MatchReviews.Partials;
@model SportsMatchDetailsViewModel

@{
    ApplicationUserDto currentUserGlobal = (await userManager.GetUserAsync(User)).ToDto();
}
@section JsonLd {
    <script type="application/ld+json">
        @Html.Raw(Model.Item.ToJsonLd());
    </script>
}
<div>
    <div style="width:100%;background:#fff;border-bottom:3px solid #ccc;">
        <div>
            @if (Model.Item.Competition != null)
            {
                <div>
                    @if(Model.Item.Competition.Sport != null) {
                    <strong style="text-transform:uppercase">@Model.Item.Competition.Sport.Name: </strong>
                    }
                    <strong style="text-transform:uppercase">@Model.Item.Competition.Name</strong>
            </div>
            }
            <h1 class="d-md-inline">@Model.Item.ToString()</h1>
            @if (Model.Item.Reviews.Count > 0)
            {
                <span style="font-size:24px;color:orange">
                    @for (int i = 1; i <= Math.Round(Model.Item.Reviews.Average(x => x.ReviewRating)); i++)
                    {
                        <i class="fa-solid fa-star"></i>
                    }
                </span>
            }
        </div>
        <p>@Model.Item.PlayedAt.ToString("dd/MM/yyyy HH:mm") UTC</p>
    </div>

    <div class="row">
        <div class="col-md-12">
          @*  <button class="btn btn-sm btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#user-reviews" aria-expanded="false" aria-controls="user-reviews">
                Toggle Other Reviews
            </button>*@
        </div>
        <div class="col-md-6">
            <!--reviews-->
            <div class="collapse show" id="user-reviews">
                <ul class="list-group">
                    @{
                        var globalReviewsList = Model.Item.Reviews;
                        if (currentUserGlobal != null)
                        {
                            globalReviewsList = Model.Item.Reviews.Where(x => x.UserId != currentUserGlobal.Id).ToList();

                        }
                    }
                    @foreach (var item in globalReviewsList)
                    {
                        bool userItem = false;
                        if (currentUserGlobal != null && currentUserGlobal.Id == item.UserId)
                        {
                            userItem = true;
                        }
                        <li class="list-group-item">
                            @{
                                MatchReviewItemPartialViewModel partialModel = new MatchReviewItemPartialViewModel()
                {
                    Item = item,
                    IsCurrentUserItem = userItem
                };

                        }
                            <partial name="../MatchReviews/Partials/_MatchReviewItemPartial.cshtml"
                                 model="partialModel"></partial>
                        </li>
                    }
                </ul>
            </div>
            <!--reviews end-->
            @if(Model.Links != null && Model.Links.Count > 0)
            {
                <!--external links-->
                <div>
                    <partial name="../Global/_NewsWidgetPartial" model="Model.Links">

                </div>
                <!--external links end-->
            }

            @if(Model.VideoPosts != null && Model.VideoPosts.Count > 0)
            {
                <!--videos--->
            <div>
                <ul class="list-group">
                    @foreach (var item in Model.VideoPosts)
                    {
                        <li class="list-group-item">
                            <iframe width="420" height="315"
                                src="@item.GetVideoUrl()">
                            </iframe>
                        </li>
                    }
                </ul>
                
            </div>
            <!--videos end-->
            }
        </div>
        <div class="col-md-6">
            <partial name="../MatchReviews/Partials/_MatchReviewFormPartial"
                model="new MatchReviewFormViewModel() {SportsMatch=Model.Item}"
            />
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var matchId = @Html.Raw(Model.Item.Id);
        $(document).ready(function() {
            var hash = window.location.hash;
            console.log(hash);
            $(hash).css('border', '1px solid #dd0000');
        })
    </script>
    @*    <script type="text/babel" src="~/js/apps/matchreviewsapp/matchreviewsapp.js"></script>*@
}