@using RateMatch.Mvc.Models.SportsMatches;
@model SportsMatchDetailsViewModel

@{
    ApplicationUserDto currentUserGlobal = (await userManager.GetUserAsync(User)).ToDto();
}
<div>
    <div style="width:100%;background:#fff;border-bottom:3px solid #ccc;">
        <h1>@ViewData["Title"]</h1>
        <p>@Model.Item.PlayedAt.ToString("dd/MM/yyyy HH:mm")</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-sm btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#user-reviews" aria-expanded="false" aria-controls="user-reviews">
                Toggle Other Reviews
            
            </button>
            <div class="collapse show" id="user-reviews">
                <ul class="list-group">
                    @foreach (var item in Model.Item.Reviews)
                    {
                        bool userItem = false;
                        if(currentUserGlobal != null && currentUserGlobal.Id == item.UserId)
                        {
                            userItem = true;
                        }
                        <li class="list-group-item">
                           
                                <div class="row">
                                    <div class="col-md-9">
                                    <blockquote class="blockquote">@item.ReviewContent</blockquote>
                                    <figcaption class="blockquote-footer">
                                        @item.User.UserName <cite title="@Model.Item.MatchName">@Model.Item.MatchName</cite>

                                    </figcaption>
                                    @if(userItem)
                                    {
                                         <div>
                                            <a href="#">Edit</a>
                                            <a href="#">Delete</a>
                                         </div>
                                    }
                                   
                                    </div>
                                <div class="col-md-3">
                                    @for (int i = 1; i <= item.ReviewRating; i++)
                                    {
                                        <i class="fa-solid fa-star"></i>
                                    }
                                </div>
                                </div>
                        </li>
                    }
                </ul>
                                
              
              
            </div>
        </div>
        <div class="col-md-6">
            <div class="rating card">

                @if(Model.IsLoggedIn)
                {
                    <form method="post"
                      asp-route-matchId="@Model.Item.Id"
                      asp-action="Create" asp-controller="MatchReviews">
                        <div class="form-group card-body">
                            <h3>Your Review</h3>
                            <select class="form-control" asp-for="ReviewForm.ReviewRating">
                                <option value="1">1 - Bad Match!</option>
                                <option value="1">2 - Nothing Special</option>
                                <option value="1">3 - Solid</option>
                                <option value="1">4 - Very good match</option>
                                <option value="1">5 - True classic!</option>
                            </select>
                        </div>
                        <div class="form-group card-body pt-0">
                            <textarea asp-for="ReviewForm.ReviewContent" class="form-control" placeholder="Analyze match in your words: tactics, subs, game decisions..."></textarea>
                        </div>
                        <div class="card-body pt-0">
                            <button class="btn btn-primary">Post</button>
                            </div>
                    </form>
                }
                else
                {
                <partial name="_LoginPartial"></partial>
                }
@*                <img src="/demo.jpg" style="width:100%" alt="Demo Image" />
*@            </div>
        </div>
        </div>
        </div>
@section Scripts {
    <script>
        var matchId = @Html.Raw(Model.Item.Id);
    </script>
@*    <script type="text/babel" src="~/js/apps/matchreviewsapp/matchreviewsapp.js"></script>*@
}