@using RateMatch.Mvc.Models.SportsMatches;
@using RateMatch.Mvc.Views.MatchReviews.Partials;
@model SportsMatchDetailsViewModel

@{
    ApplicationUserDto currentUserGlobal = (await userManager.GetUserAsync(User)).ToDto();
}
@section JsonLd {
    <script type="application/ld+json">
        @Html.Raw(Model.Item.ToJsonLd());
    </script>
}
<div>
    <div style="width:100%;background:#fff;border-bottom:3px solid #ccc;">
        <h1>@ViewData["Title"]</h1>
        <p>@Model.Item.PlayedAt.ToString("dd/MM/yyyy HH:mm") UTC</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-sm btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#user-reviews" aria-expanded="false" aria-controls="user-reviews">
                Toggle Other Reviews
            </button>
        </div>
        <div class="col-md-6">
            <!--reviews-->
            <div class="collapse show" id="user-reviews">
                <ul class="list-group">
                    @{
                        var globalReviewsList = Model.Item.Reviews;
                        if (currentUserGlobal != null)
                        {
                            globalReviewsList = Model.Item.Reviews.Where(x => x.UserId != currentUserGlobal.Id).ToList();

                        }
                    }
                    @foreach (var item in globalReviewsList)
                    {
                        bool userItem = false;
                        if (currentUserGlobal != null && currentUserGlobal.Id == item.UserId)
                        {
                            userItem = true;
                        }
                        <li class="list-group-item">
                            @{
                                MatchReviewItemPartialViewModel partialModel = new MatchReviewItemPartialViewModel()
                {
                    Item = item,
                    IsCurrentUserItem = userItem
                };

                        }
                            <partial name="../MatchReviews/Partials/_MatchReviewItemPartial.cshtml"
                                 model="partialModel"></partial>
                        </li>
                    }
                </ul>
            </div>
            <!--reviews end-->
            @if(Model.Links != null && Model.Links.Count > 0)
            {
                <!--external links-->
                <div>
                    <ul class="list-group">
                        @foreach (var item in Model.Links)
                        {
                            <li class="list-group-item">
                                <a title="@item.ToString()" target="_blank" href="@item.ExternalUrl">@item.ToString() &#129109;</a>
                            </li>
                        }
                    </ul>

                </div>
                <!--external links end-->
            }

            @if(Model.VideoPosts != null && Model.VideoPosts.Count > 0)
            {
                <!--videos--->
            <div>
                <ul class="list-group">
                    @foreach (var item in Model.VideoPosts)
                    {
                        <li class="list-group-item">
                            <iframe width="420" height="315"
                                src="https://www.youtube.com/embed/@item.VideoSourceUrl">
                            </iframe>
                        </li>
                    }
                </ul>
                
            </div>
            <!--videos end-->
            }
        </div>
        <div class="col-md-6">
            <div class="rating card">

                @if (Model.IsLoggedIn)
                {
                   <h3>My Reviews</h3>
                    <ul class="list-group">

                       

                        @foreach (var item in Model.Item.Reviews.Where(x=>x.UserId==currentUserGlobal.Id).ToList())
                        {
                            bool userItem = false;
                            if (currentUserGlobal != null && currentUserGlobal.Id == item.UserId)
                            {
                                userItem = true;
                            }
                            <li class="list-group-item">
                                @{
                                    MatchReviewItemPartialViewModel partialModel = new MatchReviewItemPartialViewModel()
                    {
                        Item = item,
                        IsCurrentUserItem = userItem
                    };

                                }
                                <partial name="../MatchReviews/Partials/_MatchReviewItemPartial.cshtml" model="partialModel" />
                            </li>
                        }
                    </ul>
                    <hr />

                    <form method="post"
                      asp-route-matchId="@Model.Item.Id"
                      asp-action="Create" asp-controller="MatchReviews">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group card-body">
                            <h3>Write a Review</h3>
                            <select class="form-control" asp-for="ReviewForm.ReviewRating">
                                <option value="1">1 - Bad Match!</option>
                                <option value="2">2 - Nothing Special</option>
                                <option value="3">3 - Solid</option>
                                <option value="4">4 - Very good match</option>
                                <option value="5">5 - True classic!</option>
                            </select>
                        </div>
                        <div class="form-group card-body pt-0">
                            <textarea asp-for="ReviewForm.ReviewContent" class="form-control" placeholder="Analyze match in your words: tactics, subs, game decisions..."></textarea>
                            <span asp-validation-for="ReviewForm.ReviewContent" class="text-danger"></span>
                        </div>
                        <div class="card-body pt-0">
                            <button class="btn btn-primary">Post</button>
                        </div>
                    </form>
                }
                else
                {
                    <partial name="_PleaseLoginRegisterMessagePartial"></partial>
                }
                @*                <img src="/demo.jpg" style="width:100%" alt="Demo Image" />
                *@
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var matchId = @Html.Raw(Model.Item.Id);
        $(document).ready(function() {
            var hash = window.location.hash;
            console.log(hash);
            $(hash).css('border', '1px solid #dd0000');
        })
    </script>
    @*    <script type="text/babel" src="~/js/apps/matchreviewsapp/matchreviewsapp.js"></script>*@
}