@using Microsoft.AspNetCore.Http.Features;
@using Microsoft.Extensions.Hosting
@inject IHostEnvironment env;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @SiteInfo.Name</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RateMatch.Mvc.styles.css" asp-append-version="true" />
    @if(env.IsProduction())
    {
        // check if user really accepted cookies consent by clicking on accept button//
        string cookieString = ".AspNet.Consent";
        if (Context.Request.Cookies.Any(x=>x.Key == cookieString) 
        && Context.Request.Cookies[cookieString] == "yes")
            {
                <!-- Google tag (gtag.js) -->
                <script async src="https://www.googletagmanager.com/gtag/js?id=G-TYF8C9N8SS"></script>
                <script>
                    window.dataLayer = window.dataLayer || [];
                    function gtag() { dataLayer.push(arguments); }
                    gtag('js', new Date());

                    gtag('config', 'G-TYF8C9N8SS');
                </script>
            }
    }
    @RenderSection("JsonLd",false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/images/logo-black-medium.png" width="190" height="36" alt="Logo of @SiteInfo.Name" class="d-inline-block" />
                </a> <strong>Beta</strong>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MatchReviews" asp-action="IndexOfLatest">Latest Reviews</a>
                        </li>
                       
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container" id="page">
        
            <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @if(TempData["Error"] != null)
            {
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-warning">
                            @TempData["Error"]
                        </div>
                    </div>
                </div>
            } 
            @if(TempData["Status"] != null)
            {
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-success">
                            @TempData["Status"]
                        </div>
                    </div>
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
           &copy; 2023 - @SiteInfo.FullName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <hr />
            <div>
                    <img src="/images/logo-light-medium.png" width="190" height="36" alt="Footer Logo of @SiteInfo.Name" />
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/reactjs/umd/react.development.min.js" asp-append-version="true"></script>
    <script src="~/lib/reactjs/umd/react-dom.development.min.js" asp-append-version="true"></script>
    <script src="~/lib/babel/babel.min.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />

    <script type="text/babel" src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

